<div class='card-panel lighten-2'>
  <p> What kind of feed do you care about? </p>

  <%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

    <ul>
      <% profile.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="input-field">
    <%= form.collection_check_boxes :feed_category_ids, profile.community.feed_categories, :id, :name do |b| %>
    <div class="switch">
      <%= b.label do %>
      <%= b.check_box + b.text.titleize %>
      <span class="lever"></span>
      <% end %>
    </div>
    <% end %>
  </div>
  <p>
    <small><b>Note:</b> Deselecting all categories will automatically unsubcribe you from this community</small>
  </p>
  <div class="actions">
    <%= form.submit 'Update', id: 'update_profile', class: "btn waves-effect waves-light" %>
  </div>
  <% end %>
</div>
