<%= render 'layouts/navbar' %>
<div class='container'>
  <div class='section'>
    <div class='row'>
      <h1 class="header center orange-text"><%= @community.name %></h1>
      <%= render 'form', community: @community %>
    </div>
    <div class='row'>
      <%= link_to 'Show', @community %> |
      <%= link_to 'Back', communities_path %>
    </div>
  </div>
</div>
